.fa-check-circle {
  color: rgb(2, 6, 19);
}

.card {
  border-radius: 24px;
}

.icon {
  background-color: black;
  display: inline-block;
}
.icon a {
  font-size: 10px;
}
.imgg {
  width: 90px;
}

.carousel-item img {
  height: 600px;
}
.badge {
  font-size: 15px;
  position: relative;
  margin-left: 180px;
}
